.advantages {
  padding-top: 192px;
  padding-bottom: 254px;

    @include adaptive(tablet-900) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

  h2 {
    font-family: $gilroy;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    font-weight: $semi-bold;
    color: $blue;
    width: 365px;
    margin-top: 0;
    margin-bottom: 160px;

    @include adaptive(tablet-900) {
      width: 600px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 60px;
    }

    @include adaptive(phone) {
      width: auto;
    }
  }
}

.advantages__wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include adaptive(tablet) {
    width: auto;
    @include padding-sides;
  }

  @include adaptive(tablet-900) {
    flex-direction: column;
  }
}

.advantages__section {
  display: flex;
  flex-direction: column;
  width: 50%;

  &:first-child div {
    align-self: flex-end;
    margin-right: 10px;

    img {
      margin-right: 40px;
    }

    @include adaptive(tablet) {
      align-self: flex-start;
    }

    @include adaptive(tablet-900) {
      align-self: center;
      margin-right: 0;
    }
  }

  &:last-child {
    align-items: flex-end;
  }

  @include adaptive(tablet-900) {
    width: 100%;
    margin-bottom: 50px;
  }
}

.advantages__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    margin-right: 0;
  }
}

.advantages__top {
  margin-top: -70px;
  margin-bottom: -5px;
  margin-left: 6px;
}

.advantages__right img {
  margin-right: 40px;
}

.advantages__item {
  width: 380px;
  box-shadow: $item-box-shadow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 48px 45px 48px 48px;
  box-sizing: border-box;
  margin-bottom: 103px;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-family: $gilroy;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    font-weight: $semi-bold;
    color: $dark-blue;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 2px;
  }

  p {
    font-family: $gilroy;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    font-weight: $regular;
    color: $dark-blue;
    opacity: 0.6;
    margin-bottom: 31px;
  }

  a {
    position: relative;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: $light-blue;
    text-decoration: none;
    transition: 0.3s;

    &:hover,
    &:focus,
    &:active {
      color: $burger-color;
    }

    &::after {
      content: '';
      position: absolute;
      border: solid $light-blue;
      border-width: 0 2px 2px 0;
      padding: 4px;
      transform: rotate(-45deg);
      top: 11px;
      left: 110px;
    }

    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 13px;
      background-color: $light-blue;
      top: 15px;
      left: 107px;
    }
  }

  @include adaptive(tablet-900) {
    align-self: center;
    margin-bottom: 50px;
    width: 600px;
  }

  @include adaptive(phone) {
    width: auto;
  }
}
