.brand {
  display: flex;
  height: 840px;
  background-image: url("../img/brand-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  flex-basis: 100%;

  @media (max-width: $desktop-max) {
    height: 710px;
  }

  @media (max-width: $desktop-min) {
    background-image: url("../img/brand-bg--tablet.jpg");
    background-size: 100% auto;
    height: 520px;
  }


  @media (max-width: $tablet-788) {
    background-image: url("../img/brand-bg--mobile.jpg");
    background-size: 100% auto;
    height: 608px;
  }
}

.brand__wrapper {
  display: flex;

  @media (max-width: $desktop-min) {
    width: 100%;
  }

  @media (max-width: $tablet-788) {
    align-items: flex-start;
  }
}

.brand__text-wrapper {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-self: center;

  h2 {
    font-size: 35px;
    line-height: 50px;
    color: $white;
    font-weight: 700;
    margin-top: 11px;
    margin-bottom: 19px;
  }

  p {
    margin-top: 0;
    font-size: 21px;
    line-height: 34px;
    color: $white;
  }

  @media (max-width: $desktop-min) {
    margin-top: 0;
    width: 364px;

    h2 {
      font-size: 30px;
      line-height: 39px;
      margin-top: 15px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
    }
  }

  @media (max-width: $tablet-788) {
    h2 {
      font-size: 24px;
      line-height: 31px;
      margin-top: 60px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
