.button {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 22px 40px 20px;
  color: $white;
  border: 1px solid $cardinal;
  background-color: $cardinal;
  border-radius: 30px;
  transition: $transition-default;
  text-decoration: none;

  @media (max-width: $phone) {
    padding: 14px 40px 13px;
    font-size: 13px;
    line-height: 13px;
  }

  &:hover,
  &:focus {
    background-color: $cardinal-hover;
    border-color: $cardinal-hover;
  }
}

.button__offer {
  margin-bottom: 30px;
}

.button__products {
  padding: 20px 40px 19px;

  @media (max-width: $phone) {
    padding: 13px 40px 12px;
  }
}
