.clients {
  background-color: $light-blue;
  margin-left: 55px;
  border-radius: 200px 0 0 0;
  padding-top: 95px;
  padding-bottom: 85px;

  @include adaptive(tablet) {
    margin-left: 0;
  }
}

.clients__wrapper {
  width: 995px;
  margin: 0 auto;

  @include adaptive(desktop-1280) {
    width: 900px;
    padding-right: 35px;
  }

  @include adaptive(desktop-1024) {
    width: auto;
  }
}

.clients__text-content {
  display: flex;
  margin-bottom: 83px;

  h2 {
    width: 250px;
    font-family: $gilroy;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: $white;
    font-weight: $semi-bold;
    margin-top: 0;
    margin-left: 52px;
    margin-right: 70px;

    @include adaptive(desktop-1024) {
      width: 100%;
      margin-left: 80px;
    }

    @include adaptive(phone) {
      width: auto;
    }
  }

  p {
    font-family: $gilroy;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $white;
    opacity: 0.6;
    width: 540px;
    padding: 0;
    margin: 0;

    @include adaptive(desktop-1024) {
      width: 720px;
      margin-left: 80px;
    }

    @include adaptive(tablet) {
      width: auto;
    }
  }

  @include adaptive(desktop-1024) {
    flex-direction: column;
  }

  @include adaptive(phone) {
    width: auto;
  }
}

.clients__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 55px;

  li {
    width: 25%;

    &:nth-child(-n+4) {
      border-bottom: 1px solid $white;
    }

    &:not(:nth-child(4n)) {
      border-right: 1px solid $white;
    }

    @include adaptive(tablet-900) {
      width: 50%;

      &:nth-child(-n+4) {
        border-bottom: none;
      }

      &:not(:nth-child(4n)) {
        border-right: none;
      }

      &:nth-child(n+3) {
        border-top: 1px solid $white;
      }

      &:nth-child(odd) {
        border-right: 1px solid $white;
      }
    }
  }

  li a {
    font-family: $gilroy;
    text-decoration: none;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    font-weight: $semi-bold;
    color: $white;
    width: 100%;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: 0.3s;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background-color: $client-hover;
    }

    @include adaptive(phone) {
      font-size: 16px;
    }
  }
}
