.goods {
  margin-bottom: 173px;

  @media (max-width: $desktop-min) {
    margin-bottom: 120px;
  }

  @media (max-width: $phone-max) {
    margin-bottom: 105px;
  }
}

.goods__list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.goods__controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}

.goods__title {
  margin: 0;
}

.goods__tooltip {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: $light-blue;
  margin-bottom: 0;
}

.goods__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  color: $dark-black;
  margin: 0;
}

.goods__more {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: $light-blue;
  padding-bottom: 8px;
  white-space: nowrap;
  transition: $transition-default;

  &:hover,
  &:focus {
    color: #377fb7;
  }


  &:after {
    content: "";
    border: solid $light-blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }

  &:hover &:after,
  &:hover &:focus {
    border-color: #377fb7;
  }

  @media (max-width: $phone-max) {
    padding-bottom: 14px;
    padding-right: 10px;
  }
}

.goods__wrapper {
  margin-bottom: 90px;


  @media (max-width: $desktop-min) {
    margin-bottom: 63px;
  }

  @media (max-width: $phone-max) {
    margin-bottom: 90px;
  }
}
