.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: 1199px) {
    width: 100%;

    &--less-border {
      padding: 0 20px;
    }
  }

  @media (max-width: $phone) {
    padding: 0 20px;
  }
}
