@font-face {
  font-display: swap;
  font-family: "Galien";
  font-style: normal;
  font-weight: 400;
  src: local("Galien Regular"), local("Galien-Regular"), url("../fonts/Galien-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Galien";
  font-style: normal;
  font-weight: 600;
  src: local("Galien Semibold"), local("Galien-Semibold"), url("../fonts/Galien-Semibold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Galien";
  font-style: normal;
  font-weight: 700;
  src: local("Galien Bold"), local("Galien-Bold"), url("../fonts/Galien-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff") format("woff");
}
