@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-display: swap;
}
