html {
  box-sizing: border-box;
}

body {
  font-family: $intro;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  min-width: 320px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.scroll-hidden {
  overflow-y: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  display: none;
}
