.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
  transition: opacity 0.3s;

  &--active {
    visibility: visible;
    pointer-events: all;

    .popup__content {
      opacity: 1;
      transform: scale(1);
    }

    .popup__overlay {
      opacity: 1;
    }
  }
}

.popup__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
}

.popup__content {
  position: relative;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.3s 0.3s, opacity 0.5s 0.3s;
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.popup__close {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: $light-blue;
  border-radius: 50%;
  border: none;
  padding: 0;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-image: url(../img/header-close-icon.svg);
  box-shadow: 0 1px 12px rgba(0,0,0,0.2);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in;

  &:hover,
  &:focus {
    box-shadow: 0 1px 12px 2px rgba(0,0,0,0.7);
  }
}

.popup__success {
  padding: 53px 56px 56px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $form-box-shadow;

  h3 {
    color: $dark-blue;
    font-size: 24px;
    margin-bottom: 25px;
  }

  p {
    font-size: 16px;
  }
}
