// Font Family

$intro: "Intro Book", "Arial", sans-serif;


// Colors

$white: #ffffff;
$black: #000000;
$cardinal: #d61e3d;
$cardinal-hover: #ff3658;

// Animation

$transition-default: all 0.2s ease-out;


// media-query

$desktop-min: 1199px;
$tablet: 1024px;
$tablet-788: 788px;
$phone: 48 0px;
