// colors
$dark-blue: #1f3f68;
$blue: #316099;
$light-blue: #5a98d0;
$white: #ffffff;
$gray: #f2f2f2;
$light-gray: #aec5de;
$lead-bg: linear-gradient(0deg, rgba(152,195,232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
$button-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
$item-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
$form-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
$submit-box-shadow: 5px 20px 20px rgba(16, 112, 177, 0.2);
$burger-color: #356ead;
$client-hover: #4e87bb;

// font
$galien: "Galien", "Arial", sans-serif;
$gilroy: "Gilroy", "Arial", sans-serif;

$regular: 400;
$semi-bold: 600;
$bold: 700;



//sizes


$padding-1366: 83px;
$padding-1280: 60px;
$padding-1024: 45px;

$phone-min: 480px;
$phone: 767px;
$tablet-900: 899px;
$tablet: 1023px;
$desktop-1024: 1279px;
$desktop-1280: 1365px;
