// Font Family

$sfpro: "SF Pro Display", Arial, sans-serif;


// Colors

$white: #ffffff;
$black: #000000;
$gray: #cccccc;
$green: #375248;
$light-blue: #84a0b6;
$dark-black: #353535;

// Animation

$transition-default: all 0.2s ease-out;


// media-query

$desktop-max: 1600px;
$tablet: 1024px;
$desktop-min: 1023px;
$phone-max: 767px;
$phone: 480px;
$phone-min: 320px;


// Swiper

$themeColor: #007aff !default;
$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;
